@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
    background: rgba(51,51,51,255);
    font-family: 'Noto Color Emoji', sans-serif;

}

.lobby {
    display: grid;
    height: 100vh;
}